[Unit]
Description={{app_user}} Unicorn Server

[Service]
User={{app_user}}
WorkingDirectory=/var/www/{{app_user}}/current
Environment=RAILS_ENV=production
Environment=SECRET_KEY_BASE={{secret_key_base}}
ExecStart=/bin/bash -lc 'bundle exec unicorn -c ./config/unicorn.rb -E production'
Restart=always
SyslogIdentifier=site-{{app_user}}-unicorn
PIDFile=/var/www/{{app_user}}/shared/tmp/pids/unicorn.pid
