[Unit]
Description={{app_user}} Unicorn Server

[Service]
User={{app_user}}
WorkingDirectory=/home/{{app_user}}/site-{{app_user}}/current/rails
Environment=RAILS_ENV=production
Environment=SECRET_KEY_BASE=020221dfb7b05b7b5205b02acb3432e67c6b017113d2dbc44e92c9f4f8af2318142c2ca2f213abc936cad4d56235400744506fc0f896b058273ce77062c8d4ac
ExecStart=/bin/bash -lc 'bundle exec unicorn -c ./config/unicorn.rb -E production'
Restart=always
SyslogIdentifier=site-{{app_user}}-unicorn
PIDFile=/home/{{app_user}}/site-{{app_user}}/pids/unicorn.pid
